@import './../../../common-scss/variables';

.contactUsPolygon {
    shape-outside: polygon(calc(100% - 170px) 0, calc(100%) 0, calc(100%) 60px, calc(100% - 270px) 60px);
    clip-path: polygon(calc(100% - 170px) 0, calc(100%) 0, calc(100%) 60px, calc(100% - 270px) 60px);
    width: 270px;
    height: $header-height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    box-sizing: border-box;
    background: linear-gradient(to right, #{$main-color}, #{$dark-main-color});
    color: $logo-font-color;
    font-size: 18px;
    cursor: pointer;
}
