@import "src/common-scss/variables";

.ring {
  z-index: 10;
  grid-area: card;
  background-color: transparent;
  border-radius: 50%;
}

.innerRing {
  z-index: 20;
  grid-area: card;
  border: 150px solid $background-color;
}

