@import '../../common-scss/variables';

.catalogBody {
    min-height: 100vh;
}

.catalogWrapper {
    width: 100%;
    height: 100%;
    padding: 60px 120px;
    display: grid;
    grid-template-columns: 24% auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        'header header'
        'categories products';
    gap: 20px;

    @media screen and (max-width: $screen-width-big) {
        padding: 50px 80px 50px 110px;
    }

    @media screen and (max-width: $screen-width-medium) {
        padding: 40px 60px 40px 90px;
    }

    @media screen and (max-width: $screen-width-small) {
        padding: 40px 50px 40px 80px;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            'header'
            'categories'
            'products';
    }
}

.heading {
    margin-bottom: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    color: $main-font-color;
}

.toCatalog {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: $main-font-color;

    & > *:first-child {
        margin-right: 10px;
    }

    & > span {
        position: relative;

        &::before {
            content: attr(data-text);
            transition: 0.5s;
            color: $hover-link-color;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            overflow: hidden;
        }

        &:hover {
            &::before {
                width: 100%;
                transition: all 0.3s ease-in-out;
            }
        }

        &:active {
            &::before {
                color: $active-link-color;
            }
        }
    }
}

.headingDivider {
    width: 2px;
    height: 20px;
    margin: 0 14px;
    background-color: $dark-second-color;
}

.header {
    grid-area: header;
}

.categoriesWrapper {
    grid-area: categories;
}

.productsWrapper {
    grid-area: products;
}