@import "../../../../common-scss/variables";

.certificateContainer {
}

.imageWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificateImage {
    max-height: 90%;
    max-width: 90%;
    min-height: 200px;
    object-fit: contain;
    cursor: pointer;
}

.openedCertificateBackground {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $product-info-background-color;
    z-index: 35;
}

.openedCertificateWrapper {
    width: 80vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.openedCertificate {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}
