
.slide {
  width: 0;
  display: grid;
  grid-area: items;
  grid-template-areas: 'slide';
  overflow: hidden;
  opacity: 0;
}

.carousel {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: grid-template-columns 1s;
}

.item {
  width: 100%;
  padding: 0 72px;
  grid-area: slide;
  justify-self: left;
  box-sizing: border-box;
}

.leftArrow {
  height: 80px;
  width: 40px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.rightArrow {
  height: 80px;
  width: 40px;
  display: flex;
  justify-items: center;
  align-items: center;
}