
.slide {
  width: 100%;
  display: grid;
  grid-area: items;
  grid-template-areas: 'slide';
  overflow: hidden;
  opacity: 0;
}

.carousel {
  width: 100%;
  display: grid;
  grid-template-areas: 'leftArrow items rightArrow';
  grid-template-columns: 4% 0 4%;
  justify-items: center;
  justify-content: center;
  align-items: center;
  transition: grid-template-columns 1s;
}

.item {
  width: 100%;
  padding: 0 72px;
  grid-area: slide;
  justify-self: left;
  box-sizing: border-box;
}

.leftArrow {
  height: 100%;
  width: 100%;
  grid-area: leftArrow;
  display: flex;
  justify-items: center;
  align-items: center;
}

.rightArrow {
  height: 100%;
  width: 100%;
  grid-area: rightArrow;
  display: flex;
  justify-items: center;
  align-items: center;
}