@import "src/common-scss/variables";

.factContainer {
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-areas: "desc image";
  box-sizing: border-box;
  justify-items: center;
  align-items: center;
}

.factDescription {
  grid-area: desc;
  padding-right: 20px;
  font-size: 18px;
  text-align: justify;
}

.factImage {
  max-height: 256px;
  max-width: 256px;
  object-fit: contain;
  width: 100%;
  grid-area: image;
  justify-self: flex-end;
}

@media screen and (max-width: $screen-width-large) {
  .factContainer {
    grid-template-columns: 70% auto;
  }

  .factDescription {
    padding-right: 20px;
    font-size: 16px;
  }
}

@media screen and (max-width: $screen-width-big) {
  .factContainer {
    grid-template-columns: 70% auto;
  }

  .factDescription {
    padding-right: 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: $screen-width-medium) {
  .factContainer {
    grid-template-columns: 70% auto;
  }

  .factDescription {
    padding-right: 20px;
    font-size: 12px;
  }
}

@media screen and (max-width: $screen-width-small) {
  .factContainer {
    grid-template-columns: 100%;
    grid-template-areas: "desc";
  }

  .factDescription {
    padding-right: 20px;
    font-size: 11px;
  }
}

@media screen and (max-width: $screen-width-tiny) {
  .factContainer {
  }

  .factDescription {
    padding-right: 20px;
    font-size: 10px;
  }
}