@import "src/common-scss/variables";

.contactsSection {
  margin-top: 50px;
}

.contactsContainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, minmax(210px, auto));
  justify-items: center;
  align-items: center;

  @media screen and (max-width: $screen-width-medium) {
    margin-top: 30px;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    row-gap: 20px;
  }
}

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @media screen and (max-width: $screen-width-medium) {
    flex-flow: row nowrap;
    gap: 8px;
  }
}

.contactTitle {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  gap: 6px;

  @media screen and (max-width: $screen-width-big) {
    font-size: 18px;
  }

  @media screen and (max-width: $screen-width-medium) {
    font-size: 14px;
  }

  @media screen and (max-width: $screen-width-small) {
    font-size: 12px;
  }

  @media screen and (max-width: $screen-width-tiny) {
    font-size: 11px;
  }
}

.contactImage {
  width: 26px;
  height: 26px;

  @media screen and (max-width: $screen-width-big) {
    width: 24px;
    height: 24px;
  }

  @media screen and (max-width: $screen-width-medium) {
    width: 22px;
    height: 22px;
  }

  @media screen and (max-width: $screen-width-small) {
    width: 20px;
    height: 20px;
  }

  @media screen and (max-width: $screen-width-tiny) {
    width: 18px;
    height: 18px;
  }
}

.contact {
  text-align: center;
  font-size: 14px;

  @media screen and (max-width: $screen-width-medium) {
    font-size: 12px;
  }

  @media screen and (max-width: $screen-width-small) {
    font-size: 10px;
  }
}

.contactWithCopy {
  display: flex;
  align-items: center;
  gap: 6px
}

.tip {
  background-color: #ffffff;
  transition-duration: 0.2s;
  opacity: 0;
  position: absolute;
  top: 25px;
  right: 28px;
  left: -28px;
  color: #A1A1A1;
  text-align: center;
  font-size: 10px;
  padding: 3px 0;
  width: 70px;
}

.copy {
  position: relative;
  display: inline-block;
}

.copyButton {
  transition-duration: 0.05s;
  cursor: pointer;

  &:hover ~.tip {
    opacity: 1;
  }

  &:active {
    transform: scale(0.9);
  }
}

.frontCopy {
  width: 6px;
  height: 10px;
  position: relative;
  bottom: 5px;
  background: #ffffff;
  outline: 2px solid #ffffff;
}

.backCopy {
  width: 6px;
  height: 10px;
  position: relative;
  top: 5px;
  left: 3px;
  background: transparent;
}