@import './../../common-scss/variables';

.contactUsWrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 40;
}

.contactUsButton {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $hover-link-color;
    border: none;
    outline: none;
    font-size: 32px;
    color: $background-color;
    cursor: pointer;
    box-shadow: 0 4px 4px $shadow-color;
}
