// colors
$background-color: #ffffff;
$main-color: #002A5A;
$dark-main-color: #001835;
$shadow-color: rgba(0, 0, 0, 0.2);
$second-color: #ECECEC;
$dark-second-color: #D1D1D1;
$accent-color: #3268A6;
$product-info-background-color: #6F6F6F99;

$logo-font-color: #ffffff;
$main-font-color: #000000;
$hover-link-color: rgb(50, 104, 166);
$active-link-color: #001835;

$active-link-bcg-color: #002a5a33;

// sizes
$header-height: 60px;
$nav-button-margin: 18px;