@import './../../common-scss/variables';

$border-margin: 61px;

.pageWrapper {
    position: absolute;
    width: calc(100% - 2 * #{$border-margin});
    height: 100%;
    padding: 0 $border-margin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: -10;
}

.border {
    width: 2px;
    height: 100%;
    margin: 0;
    background: repeating-linear-gradient(
                    to bottom,
                    $second-color 0,
                    $second-color 12px,
                    transparent 12px,
                    transparent 22px
    );
}

.contentWrapper {
    margin: 0;
}
