@import './../../common-scss/variables';

$border-margin: 61px;

.pageWrapper {
    width: calc(100% - #{$border-margin * 2});
    min-height: 100%;
    height: 100%;
    margin: -3px auto auto auto;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 30;
        clip-path: polygon(
                        0 0,
                        2px 0,
                        2px 2px,
                        2px 100%,
                        calc(100% - 2px) 100%,
                        calc(100% - 2px) 2px,
                        2px 2px,
                        100% 0,
                        100% 100%,
                        0 100%,
                        0 0
        );

        background-image: repeating-linear-gradient(to bottom,
                $second-color 0px,
                $second-color 12px,
                transparent 12px,
                transparent 22px);
    }
}

.contentWrapper {
    position: relative;
    margin: 0;
}

.content {
    width: calc(100% + #{$border-margin * 2});
    position: relative;
    top: 0;
    left: -$border-margin;
    right: 0;
    bottom: 0;

    // blocks of content
    & > div {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        margin: 0;
    }
}
