@import './../../common-scss/variables';

$border-margin: 61px;

.pageWrapper {
    width: calc(100% - #{$border-margin * 2});
    min-height: 100%;
    height: 100%;
    margin: -3px auto auto auto;
    position: relative;
    border-width: 3px;
    border-style: solid;
    border-image:
            repeating-linear-gradient(
                            to bottom,
                            $second-color 6px,
                            $second-color 32px,
                            transparent 32px,
                            transparent 52px
            );
    border-image-width: 100% 4px;
}

.contentWrapper {
    position: relative;
    margin: 0;
    z-index: -10;
}

.content {
    width: calc(100% + #{$border-margin * 2});
    position: relative;
    top: 0;
    left: -$border-margin;
    right: 0;
    bottom: 0;

    // blocks of content
    & > div {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        margin: 0;
    }
}
