@import "src/common-scss/variables";

.partnersBlock {
  display: flex;
  flex-direction: column;
}

.partnersContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px 0;
}

.partnersDetailsButton {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: $main-font-color;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  background-color: $second-color;
  box-shadow: 0 4px 4px $shadow-color;
}